body,
html {
    background-color: #f0f2f5;
}

.custom-green-button,
.custom-green-button:hover {
    border: none;
    border-radius: 5px;
    background-color: #42b72a;
    color: #ffffff;
}

.custom-green-button:active {
    background-color: #389e23;
    color: #ffffff;
}

.custom-blue {
    color: #1877f2;
    cursor: pointer;
}

.custom-red {
    color: #ff0000;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .custom-textarea {
        height: 115px;
    }
}