/* 
    Estilos de la página de "Administración"
*/

.custom-background {
    background-color: #f0f2f5;
}

.custom-green-button,
.custom-green-button:hover {
    border: none;
    border-radius: 5px;
    background-color: #42b72a;
    color: #ffffff;
}

.custom-green-button:active {
    background-color: #389e23;
    color: #ffffff;
}

.custom-blue {
    color: #1877f2;
    cursor: pointer;
}

.custom-red {
    color: #ff0000;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .custom-textarea {
        height: 115px;
    }
}


/* 
    Estilos de las cards de los productos de la "Página principal"
*/

.card {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 4px solid #a8792c;
    background-color: #fafafa;
}

.tamaño-imagen-card {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 230px; 
}

.tamaño-imagen-card:hover {
    transform: scale(1.1);
    transition: 1s;
}

.button-card {
    background: rgb(129, 127, 127);
    color: whitesmoke;
    font-size: small;
}

.button-card:hover {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(175,175,175,1) 0%, rgba(62,63,64,1) 50%, rgba(11,11,11,0.969625350140056) 100%);
    color: whitesmoke;
    font-size: small;
}

.card-text {
    color: black;   
}

.heart-card {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #c1892f;
}

.heart-card:hover {
    color: #5f5b5b;    
}

/*
    Estilos del botón de "Administración de Usuarios"
*/

.Btn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .Btn::before {
    position: absolute;
    content: "Agregar Admin";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .Btn:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:active {
    transform: scale(0.95);
  }
