:root {
    --background-navbar: #000000da;
    --backround-btn-1: #e4c590;
    /* --backround-btn-1: #c1892f; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navcolor {
    background: var(--background-navbar);    
    transition: background-color 0.4s ease-in-out;
}

.navcolor.scrolled {
    background-color: rgba(136, 28, 28, 0.955);    
}

.sidebar.scrolled {
    background-color: rgba(136, 28, 28, 0.955);
}

.sub-btn {
    background: var(--backround-btn-1);
}

.sub-btn:hover {
    background-image: linear-gradient(to right, #fca211e2, #edc689e2);
  }

.sidebar {
    background-color: var(--background-navbar);
    backdrop-filter: blur(1px);   
}
   
.menu-bg{
    background: var(--background-navbar)
}

.item-bg {
    color: rgb(251, 250, 249);
}

.item-bg:hover {
    background: var(--backround-btn-1);
}

.hr-bg {
    background: var(--backround-btn-1);
}

.hover-link:hover {
    color: var(--backround-btn-1);
    cursor: pointer;
}

.img-logo {
    width: 40px;
    height: 40px;
}

.letterLogo {
    font-size: 10px;
}

.img-sidebar {
    width: 35px;
    height: 35px;
}

.heart {
    text-decoration: none;
    color: var(--backround-btn-1);
    font-size: 25px;    
}

.heart:hover {
    color: aliceblue;
}

@media screen and (max-width: 990px) {
    .heart {
        font-size: 40px;        
    }   
    .img-sidebar {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 280px) {
    .heart {
        font-size: 30px;        
    }   
    .img-sidebar {
        width: 30px;
        height: 30px;
    }
    .tittle-logo {
        font-size: small;
    }
}

.button-card {
    background: rgb(72, 71, 71);
    color: whitesmoke;
    font-size: small;
}

.button-card:hover {
    background: var(--backround-btn-1);
    color: black;
    font-size: small;
}

.contact-border {
    border: 4px solid rgb(204, 204, 204);
}

.contact-border:hover {
	border-color: #e4c590;
	box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 0 0 30px #e4c590;
}